<!--物品登记页面-->
<ion-view view-title="物品登记" >
    <ion-content class="common_content">
        <div class="navContentContrain">
            <div class="registrationItems">
                <ul class="essential regisItems">
                    <li class="basInfo_listItme"><span>经营户名称</span><span class="showColor" ng-bind="customName"></span></li>
                    <li >
                        <span>封箱编码</span>
                        <input type="text" ng-change="inputChange(code.inputValue)" ng-model="code.inputValue" placeholder="点我后,按扫描按钮"  class="showColor" style="display: inline-block;float: none;margin-top: 0px;margin-left: 60px" >
                        第<span ng-bind="sealBoxNumber"></span>箱
                    </li>
                </ul>
                <ul class="essential regisItems essential2">
                    <li class="listItem mobilTotal"><span>经营户当前设备</span><span style="width:70%"><i class="totalStyle">合计</i><i class="totalStyle" ng-bind="countcus.REG_COUNT" style="width:32px;height:20px;"></i><i class="totalStyle">(条)</i>
                    <i class="totalStyle">总价</i>
                    <i class="totalStyle" ng-bind="countcus.REG_PRICE" style="width:72px;height:20px;"></i>(元)</span></li>
                </ul>
                <ul class="essential regisItems essential2">
                    <li class="listItem mobilTotal"><span>本箱当前设备</span><span style="width:70%"><i class="totalStyle">合计</i><i class="totalStyle" ng-bind="countbox.BOX_COUNT" style="width:32px;height:20px;"></i><i class="totalStyle">(条)</i>
                    <i class="totalStyle">总价</i>
                    <i class="totalStyle" ng-bind="countbox.BOX_PRICE" style="width:72px;height:20px;"></i>(元)</span></li>
                </ul>
                <ul class="essential regisItems essential2" id="mobil_type">
                    <li class="listItem" ng-click="showPopup_0()"><span>卷烟性质</span><span><i ng-bind="goodkind" class="showColor"></i><i class="icon ion-chevron-right"></i></span></li>
                </ul>
                <ul class="essential regisItems essential2">
                    <li class="listItem">
                    <input type="text" ng-disabled='disNone' class="showColor" ng-change="inputChange1(code.inputValue1)" ng-model="code.inputValue1" placeholder="单击扫码查询或双击手工查询">
                    <span class="ItemsSearch" ng-click="searchGoodInfo(code.inputValue1)">搜索</span><span class="regisItemsSearch" ng-click="checkWater()">查看流水</span></li>
                </ul>
                <ul class="essential regisItems essential2 addRegis0"  ng-show="addRegis0">
                    <li class="basInfo_listItme">
                        <span>条码/包码</span>
                        <input type="text" class="showColor" ng-model="sweepData.BASE_GOODS_BARCODE" ng-disabled='dis' style="background-color: #fff;text-align: right">
                    </li>
                    <li class="basInfo_listItme">
                        <span>品名规格</span>
                        <input type="text" class="showColor" ng-model="sweepData.BASE_GOODS_NAME" ng-disabled='dis' style="background-color: #fff;text-align: right">
                    </li>
                    <li class="basInfo_listItme">
                        <span>性质</span>
                        <input type="text" class="showColor" ng-model="goodkind" ng-disabled='dis' style="background-color: #fff;text-align: right">
                    </li>
                    <li class="basInfo_listItme">
                        <span>类型</span>
                        <input type="text" class="showColor" ng-model="sweepData.GOODSTYPENAME" ng-disabled='dis' style="background-color: #fff;text-align: right">
                    </li>
                    <li class="basInfo_listItme">
                        <span>单价（元）</span>
                        <input type="text" class="showColor" ng-model="sweepData.BASE_GOODS_PRICE" ng-disabled='judge' style="background-color: #fff;text-align: right">
                    </li>
                    <li class="basInfo_listItme">
                        <span>数量（条）</span>
                        <input type="text" class="showColor" ng-model="sweepData.GOODSCOUNT" style="background-color: #fff;text-align: right">
                    </li>
                    <li class="listItem" id="mobil_keep"><span class="regisItemsSearch1" ng-click="showConfirm()">信息不符，清空</span><span class="regisItemsSearch1" ng-click="saveRegis()">保存</span></li>
                </ul>
                <ul class="essential regisItems essential2 addRegis" ng-show="addRegis">
                    <li class="basInfo_listItme">
                        <span><i class="addRegis1 addRegis2" ng-click="addRegisItem()">条码</i><i class="addRegis1" ng-click="addRegisItem()">包码</i></span>
                        <input type="text" class="showColor" style="background-color: #fff;text-align: right" ng-model="initAddParams.baseGoodsBarcode1">
                    </li>
                    <li class="basInfo_listItme">
                        <span>品名规格</span>
                        <input type="text" class="showColor" style="background-color: #fff;text-align: right" ng-model="initAddParams.baseGoodsName1">
                    </li>
                    <li class="basInfo_listItme">
                        <span>性质</span>
                        <input type="text" class="showColor" style="background-color: #fff;text-align: right" ng-value="goodkind" disabled>
                    </li>
                    <li class="basInfo_listItme">
                        <span>类型</span>
                        <input type="text" class="showColor"  style="background-color: #fff;text-align: right" ng-model="initAddParams.baseGoodsType1">
                    </li>
                    <li class="basInfo_listItme">
                        <span>单价（元）</span>
                        <input type="text" class="showColor" style="background-color: #fff;text-align: right" ng-model="initAddParams.baseGoodsPrice1">
                    </li>
                    <li class="basInfo_listItme">
                        <span>数量（条）</span>
                        <input type="text" class="showColor" style="background-color: #fff;text-align: right" ng-model="initAddParams.goodcount1">
                    </li>
                    <li class="listItem" id="mobil_keep"><span class="regisItemsSearch1" ng-click="clearClick()">放弃</span><span class="regisItemsSearch1" ng-click="saveRegis1()">保存</span></li>
                </ul>
                <ul class="addRegis3" ng-show="addRegis3">
                    <li ng-repeat="r in runningWaterData">
                        <div>
                            <span>封箱编码</span><span ng-bind="r.BOX_SQ"></span>
                        </div>
                        <div>
                            <span>条码</span><span class="addRegis3-content" ng-bind="r.GOODS_BARCODE"></span>
                            <span>性质</span><span ng-bind="r.GOODSKINDNAME"></span> 
                        </div>
                        <div>
                            <span>品种规格</span><span ng-bind="r.GOODS_NAME"></span>
                        </div>
                        <div>
                            <span>单价(元)</span><span class="addRegis3-content" ng-bind="r.GOODSPRICE"></span>
                            <span>数量(条)</span><span ng-bind="r.GOODSCOUNT"></span>
                        </div>
                        <div>
                            <span>总价(元)</span><span ng-bind="r.TOTALGOODSCOUNT"></span>
                            <span class="addRegis3-content1" ng-click="delectCheckWater()" data-ca54Id="{{r.CA54_ID}}" data-ca55Id="{{r.CA55_ID}}">删除本条数据</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>