/* pad首页样式开始 */
.padbanner ul{
	li{
		width:33%!important;
	}
}
.padFoot{
	height:100px;
	width:70%;
	margin:0 auto;
	div:nth-child(1){
		margin-top: 5px;
	}
	div:nth-child(2){
		margin-top: 10px;
		height:26px;
		span{
			display: block;
			float:left;
		}
		span:nth-child(1){
			margin-top: 10px;
			width:30%;
		}
		span:nth-child(2){
			height:25px;
			border-bottom:1px solid #000;
			width:50%;
		}
		span:nth-child(3){
			background-color: #ccc;
			width:19%;
			height:26px;
			line-height: 26px;
			text-align: center;
			margin-left: 2px;
		}
	}
}
/* pad首页样式结束 */